.App {
  text-align: center;
  /* padding-top: 3em;
   text-align: center;
   width: 100%;
   min-height: 100vh;
   background-image: radial-gradient(circle at 70% -20.71%, #fffd7b 0, #fffe6e 8.33%, #fffd61 16.67%, #fffc55 25%, #f1f94b 33.33%, #d4f642 41.67%, #b5f23c 50%, #92ed3b 58.33%, #69e93f 66.67%, #28e548 75%, #00e154 83.33%, #00dd62 91.67%, #00d972 100%);
   ; */
}
